fastapi
uvicorn
supabase
python-dotenv
langgraph
firebase-admin
langchain-groq
langchain-core
pydantic
httpx
requests
gnews
arxiv
duckduckgo-search
newsapi-python
feedparser
python-jose[cryptography]
